body {
    margin: 0;
    background-color: #d3eaff;
}

h1 {
    color: #D12A3B;
}

h2 {
    color: #858007;
}

h3 {

    color: #083952;
}

h5 span {
    color: #858007;
    font-weight: bold;
}

.img-Foto {
    width: 4rem;
}

.m-top {
    margin-top: 5rem;
}

.Nu95r {
    background-size: cover;
    background-position: center -20px;
    background-image: url('../public/assets/img/img1.jpg');
    transform: translate3d(0px, 0px, 0px);

    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    position: absolute;
    /*filter: grayscale(100%);*/
    background-blend-mode: luminosity;
}

.mYVXT {
    display: table-cell;
    vertical-align: middle;
    padding-top: 15rem;
}

.lexperience {
    margin-top: 13.5rem;
}

.main-message {
    padding: 3rem;
    background-color: white;
    opacity: 0.4;
    border-radius: 10px;
    font-size: 3rem;
}

.main-message p {
    color: #343a40;
    font-weight: bold;
}

.bgcolor-menu {
    background: #083952;
    text-shadow: #000000 2px 2px;
}

.font-logo {
    color: #fffc99 !important;
}

.section-esp {
    padding-top: 5.5rem;
}

.footer {
    color: white;
    background-color: #343a40;
}

.footer h5 {
    color: #D1CA00;
    text-shadow: #000000;
}

.footer li {
    list-style: none;

}

.nav-link:hover {
    background-color: #626262;
}

.icons-font {
    font-size: 1.8rem;
}

.article {
    margin: 0 auto;
    padding-left: 10rem;
    padding-right: 10rem;
}

.techStack {
    color: #D12A3B;
    font-weight: bold;
    font-style: italic;
}

.techStack span {
    font-weight: normal;

}

.p-card {
    color: #343a40;
    font-weight: bold;
}

.p-card span {

    color: #083952;
    font-weight: normal;
}

.img-logo-prg {
    width: 10%;
}

.img-photo {
    top: 15%;
    left: 10%;
}